@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');


*{
    box-sizing: border-box;
    padding: 1;
    margin: 0 auto;

}

body{
    background-color: #1a122e;
    background-image: linear-gradient(to bottom,#1a122e,#1a122e,#38260e);
    color: #faab00;
    max-width: 4000px;
    margin: 0 auto;
    padding: 0px;
    font-family: 'Poppins',sans-serif;
}

header nav{
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(2, 11, 34);
    border: #000000;
    border: 1px solid #000000;
    border-radius: 30px;
}

li{
    display: inline-block;
    border: #faab00;
    border: 1px solid #faab00;
    border-radius: 30px;
    padding: 9px;
    margin: 15px;
    color: white;
}


#title{
flex-direction: column;
}


.container{
    padding: 25px 9%;
    text-align: center;

}

.container .heading{
    font-size: 30px;
    padding-bottom: 25px;
}

.container .container-image{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 30px;
}

@keyframes fadeIn{
    0%{
        transform: scale(.7) translateY(-10px);
        opacity: 0;
    }
}
.container .container-image .image{
    width: 350px;
    border-radius: 5px;
    border: 2px solid #fae100;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background-color: rgb(255, 255, 255);
    padding: 15px;
    animation: fadeIn .30s linear;
    transition: 0.7s;
}

.container .container-image .image img{
 width: 100%;
 height: 250px;
 object-fit: cover;
 margin-bottom: 10px;
 border-radius: 5px;
}

.container .container-image .image img:hover{
    transform: scale(1.2);
}

.container .container-image .image img h3{
    font-size: 20px;
    color: aquamarine;
}

@media (max-width:768px){
    .container .container-image{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 25px 20px;
    }

    .container .container-image .image{
        width: 100%;
    }

    .container #search-box{
        width: 90%;
    }
}

@media (max-width:450px){
    .container .container-image{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 25px 20px;
    }

    .container .container-image .image{
        width: 100%;
    }
}